---
const event = await Astro.locals.runtime.env.DB.prepare(
  `SELECT id FROM events`
).first();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventbrite</title>
  </head>
  <body>
    <meta http-equiv="refresh" content={`0; url=${event?.id}`} />
  </body>
</html>
