---
import Layout from "../../layouts/Layout.astro";

const event = await Astro.locals.runtime.env.DB.prepare(
  "SELECT * FROM events WHERE id = ?"
)
  .bind(Astro.params.event)
  .first();

if (!event) return Astro.redirect("/404");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>{event.name}</h1>
    <p>
      {event.description}
    </p>
  </main>
</Layout>
