---
import Layout from "../../layouts/Layout.astro";
import TicketForm, { ticketForm } from "./_TicketForm";

const event = await Astro.locals.runtime.env.DB.prepare(
  "SELECT * FROM events WHERE id = ?"
)
  .bind(Astro.params.event)
  .first();

if (!event) return Astro.redirect("/404");

const result = await Astro.locals.form.getData(ticketForm);

if (result?.data) {
  await Astro.locals.runtime.env.DB.prepare(
    "INSERT INTO tickets (event_id, email, quantity) VALUES (?, ?, ?)"
  )
    .bind(Astro.params.event, result.data.email, result.data.quantity)
    .run();
}

const ticket = await Astro.locals.runtime.env.DB.prepare(
  "SELECT * FROM tickets WHERE event_id = ?"
)
  .bind(Astro.params.event)
  .first();
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>{event.name}</h1>
    <p>
      {event.description}
    </p>
    <TicketForm client:load />

    {
      ticket && (
        <section class="youre-going">
          <h2>You're going</h2>
          <p>
            You have purchased {ticket.quantity} tickets for {event.name}
          </p>
        </section>
      )
    }
  </main>
</Layout>

<style>
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--size-4);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    margin-bottom: var(--size-4);
    background: var(--surface-2);
    padding: var(--size-2);
    border-radius: var(--radius-2);
  }

  .error {
    color: var(--red-6);
    margin-bottom: var(--size-2);
    grid-column: 1 / -1;
  }

  form button {
    grid-column: 1 / -1;
    background: var(--orange-8);
    border-radius: var(--radius-2);
  }

  .youre-going {
    background: var(--surface-2);
    padding: var(--size-2);
  }

  h2 {
    font-size: var(--font-size-4);
    margin-bottom: var(--size-2);
  }
</style>
